h1 {
  font-family:'Roboto', sans-serif;
  font-size: 50px;
}

#main_container {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  text-align: center;
}

a.button {
  font-size: 30px;
  width: 500px;
  display:inline-block;
  padding:10px 30px;
  border:0.1em solid black;
  margin:0 5px 10px 0;
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto', sans-serif;
  font-weight:300;
  color:black;
  text-align:center;
}

a.button:hover {
  color:white;
  background-color: black;
}
