Successfully created new user:
<p>
<b>Name:</b> <%= user.username %>
<br>
<b>Zip:</b> <%= user.zipcode %>
<p>
<a href="/">Create New User</a>
<p>
<a href="/all">Show All</a>
<br><a href="/">Dashboard</a>
