Successfully created update user:
<p>
<b>Name:</b> <%= user.username %>
<br>
<b>Zip:</b> <%= user.zipcode %>
<br>
<b>Password:</b> <%= user.password %>
<br>
<b>fullname:</b> <%= user.fullname %>
<p>
<a href="/">Updated User</a>
<p>
<a href="/all">Show All</a>
<br><a href="/">Dashboard</a>
